[user]
	email = [chandraansh662@gmail.com]
	name = ansh
[core]
	editor = \"C:\\Users\\shukl\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[email]
	address = chandraansh662@gmail.com
