AppData
Application\ Data
Contacts
Cookies
Documents
Downloads
Dropbox
Favorites
Links
Local\ Settings
Microsoft
Music
My\ Documents
NTUSER.DAT
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
NetHood
OneDrive
PrintHood
PycharmProjects
Recent
Saved\ Games
Searches
SendTo
Start\ Menu
Templates
Videos
bash_history
conda
condarc
continuum
gitconfig
gitignore
idlerc
jupyter
lesshst
viminfo
vscode
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
q1.txt
q11.txt
shukl


